* {
	box-sizing: border-box;
}

body,html {
padding:0px;
margin:0px;
background-color: #885DD9;
}

#site{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
	
.heading{
	text-align: center;
	font-size: 50px;
	color: white;
	padding: 0px;
}

.text{
	text-align: center;
	font-size: 30px;
	color: #E073F0;
	padding: 0px;
}

#input{
	width: 50vw;
}

#generator {
	width: 50vw;
}

#result{
	text-align: center;
	text-decoration: underline;
	font-size: 20px;
}